# npm packages
node_modules

# Environment variables
.env

# IDE Files
.vscode
.idea
.DS_Store

# API Documentation
src/config/doc/api/

# tmp folder
tmp/*

# build folder
build/*

# dist folder
dist

# logs
.logs
logs
